<style type="text/css">
  #list_thematic{
    margin-left: 35%;
  }
  @media screen and (max-width: 600px) {
    #list_thematic{
      margin-left: 7%;
    }
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand" href="./index.html">
      <img src="/images/logo_tec_blue.png" class="" alt="..." style="max-width: 8em;">
      <img src="/images/logo_ciie_negro_compacto.png" class="ml-md-3 ml-8" alt="..." style="max-width: 3em;">
    </a>

    <a href="/home/index_en" class="ml-auto mr-5 mt-3">English</a>
    <a class="btn btn-sm btn-danger lift mx-auto mx-md-0 mt-md-3 mt-3" href="/users/sign_in">
      Iniciar sesión
    </a>

  </div>
</nav>

<section class="position-relative py-8 py-md-11 mb-9">

  <!-- Contetn -->
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-12 order-md-1" data-aos="fade-up">

        <!-- Heading -->
        <h1 class="display-3 text-center">
          Bienvenido al 9º Congreso Internacional de Innovación Educativa
        </h1>
        <br/>

        <!-- List Thematic -->
        <p class="text-center">Participa en la Convocatoria 2021, selecciona una de nuestras líneas temáticas:</p>
        <div id="list_thematic" class="text-left">
          <ul class="requirements-list font-size-small text-gray-700 mb-0 p-0 pl-4" style="list-style-type: none;">
            <li>● Tendencias Educativas</li>
            <li>● Tecnologías para la Educación</li>
            <li>● Gestión de la Innovación Educativa</li>
            <li>● Innovación Académica de la Salud</li>
            <li>● Formación a lo Largo de la Vida</li>
            <li>● Emprendimiento EdTech</li>
          </ul>
        </div>
        <br/>

        <!-- Text -->
        <p class="lead text-muted mb-6 mb-md-8 text-center">
          En nuestra Convocatoria 2021 se aceptan los siguientes tipos de contribución: Ponencia de investigación, Ponencia de innovación, Paneles, Presentación de libro, Mesas de networking y Conferencia EdTech
        </p>

        <!-- Buttons -->
        <div class="text-center">
          <a href="/users/sign_in" class="btn btn-danger mr-1 lift mt-3">
            Registra tu contribución
          </a>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>

<!-- TESTIMONIALS
================================================== -->
<section>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12">

        <!-- Blockquote -->
        <blockquote class="blockquote mb-8 mb-md-0">

          <!-- Logo -->
          <div class="mb-5 mb-md-6 text-danger">
            <h3 style="font-size: 24px">1.Ponencia de investigación</h3>
          </div>

          <!-- Text -->
          <p class="text-gray-700 mb-2 font-size-medium">
            Se presentan los resultados previos o finales de un estudio donde se siguió un método científico sobre un proyecto de investigación educativa.
          </p>

          <p class="text-gray-700 mb-4 font-size-medium">
            <strong>Las ponencias de investigación deben incluir:</strong>
          </p>

          <!-- Footer -->
          <ul class="requirements-list font-size-small text-gray-700 mb-0 p-0 pl-4">
            <li>Título de la ponencia en inglés y en español</li>
            <li>Nombre completo del autor, institución, país y correo electrónico (incluir la anterior información para cada uno de los autores,
              máximo 5 autores)</li>
            <li>Línea temática (Tendencias educativas, Tecnologías para la educación, Gestión de la Innovación Educativa, Innovación Académica de la Salud o Formación a lo largo de la vida)</li>
            <li>Resumen (200 palabras máximo. Letra Arial 10. Espacio y medio) en español e inglés.</li>
            <li>Palabras clave: máximo cuatro en español e inglés.</li>
            <li>Introducción (200 palabras máximo. Letra Arial 10. Espacio y medio)</li>
            <li>Desarrollo (2000 palabras máximo incluyendo marco teórico, planteamiento del problema, método, resultados y discusión. Letra Arial 10. Espacio y medio)</li>
            <li>Conclusiones (200 palabras máximo. Letra Arial 10. Espacio y medio)</li>
            <li>Referencias en formato APA. Sangría francesa. Listar alfabéticamente sólo las referencias citadas.</li>
            <li>Reconocimientos (opcional para dar créditos a apoyos y financiamientos. Letra Arial 10. Espacio y medio).</li>
          </ul>

          <p class="text-gray-700 mt-4 mb-2 mb-md-3 font-size-medium">
            Los resultados de la investigación que se desean compartir deben haberse obtenido o realizado entre enero del 2020 a junio del 2021.
          </p>

          <a class="navbar-btn btn btn-sm btn-danger mt-3" href="/users/sign_in">
            Envía tu contribución
          </a>

        </blockquote>

      </div>

      <div class="col-12 mt-9">

        <!-- Blockquote -->
        <blockquote class="blockquote mb-0">

          <!-- Logo -->
          <div class="mb-5 mb-md-6 text-danger">
            <h3 style="font-size: 24px">2.Ponencias de innovación</h3>
          </div>

          <!-- Text -->
          <p class="text-gray-700 mb-2 font-size-medium">
            Se presentan reportes de experiencias de innovación educativa en los que se describe la situación innovadora, participantes y resultados.En estas ponencias no se requiere presentar resultados de investigación.
          </p>

          <p class="text-gray-700 mb-2 font-size-medium">
            <strong>Las ponencias de innovación deben incluir:</strong>
          </p>

          <!-- Footer -->
          <ul class="requirements-list font-size-small text-gray-700 mb-0 p-0 pl-4">
            <li>Título de la ponencia de proyecto de innovación en inglés y en español</li>
            <li>Nombre completo del autor, institución, país y correo electrónico (incluir la anterior información para cada uno de los autores,
              máximo 5 autores)</li>
            <li>Línea temática (Tendencias educativas, Tecnologías para la educación, Gestión de la Innovación Educativa, Innovación Académica de la Salud o Formación a lo largo de la vida)</li>
            <li>Resumen (200 palabras máximo. Letra Arial 10. Espacio y medio) en español e inglés.</li>
            <li>Palabras clave: máximo cuatro en español e inglés.</li>
            <li>Introducción (200 palabras máximo. Letra Arial 10. Espacio y medio)</li>
            <li>Desarrollo (2000 palabras máximo incluyendo marco teórico, descripción de la innovación, proceso de implementación, evaluación
              de resultados)</li>
            <li>Conclusiones (200 palabras máximo. Letra Arial 10. Espacio y medio)</li>
            <li>Referencias en formato APA. Sangría francesa. Listar alfabéticamente sólo las referencias citadas.</li>
            <li>Reconocimientos (opcional para dar créditos a apoyos y financiamientos. Letra Arial 10. Espacio y medio).</li>
          </ul>

          <p class="text-gray-700 mb-2 mb-md-3 font-size-medium">
            Los resultados de la innovación que se desean compartir deben haberse obtenido o realizado entre enero del 2020 a junio del 2021.
          </p>

          <a class="navbar-btn btn btn-sm btn-danger mt-3" href="/users/sign_in">
            Envía tu contribución
          </a>

        </blockquote>

      </div>

      <div class="col-12 mt-9">

        <!-- Blockquote -->
        <blockquote class="blockquote mb-8 mb-md-0">

          <!-- Logo -->
          <div class="mb-5 mb-md-6 text-danger">
            <h3 style="font-size: 24px">3.Panel</h3>
          </div>

          <!-- Text -->
          <p class="text-gray-700 mb-2 font-size-medium">
            Analiza una temática educativa desde las perspectivas de diversos panelistas que contribuyen a la comprensión de un fenómeno de innovación educativa.
          </p>

          <p class="text-gray-700 mb-4 font-size-medium">
            <strong>Las propuestas del panel deben incluir:</strong>
          </p>

          <!-- Footer -->
          <ul class="requirements-list font-size-small text-gray-700 mb-0 p-0 pl-4">
            <li>Nombre del panel en inglés y en español</li>
            <li>Nombre del Coordinador</li>
            <li>Línea temática (Tendencias educativas, Tecnologías para la educación, Gestión de la Innovación Educativa, Innovación Académica de la Salud, Formación a lo largo de la vida o Emprendimiento EdTech)</li>
            <li>Panelistas (de tres a cinco, en el número se incluye al coordinador pero ya no se lista aquí)</li>
            <li>Una imagen de elaboración propia relacionada con el tema del panel que se utilizará en la promoción del mismo.</li>
            <li>Resumen del panel (máximo 250 palabras, Letra Arial 10. Espacio y medio) en español e inglés.</li>
            <li>Palabras clave: máximo cuatro en español e inglés.</li>
            <li>Objetivos. De dos a tres objetivos. 200 palabras máximo. Letra Arial 10. Espacio y medio.</li>
            <li>Contribuciones y temáticas que se van a abordar. 250 palabras máximo. Letra Arial 10. Espacio y medio</li>
          </ul>

          <a class="navbar-btn btn btn-sm btn-danger mt-3" href="/users/sign_in">
            Envía tu contribución
          </a>

        </blockquote>

      </div>

      <div class="col-12 mt-9">

        <!-- Blockquote -->
        <blockquote class="blockquote mb-0">

          <!-- Logo -->
          <div class="mb-5 mb-md-6 text-danger">
            <h3 style="font-size: 24px">4.Presentación de libros</h3>
          </div>

          <!-- Text -->
          <p class="text-gray-700 mb-2 font-size-medium">
            Presentación de libros relacionados con las temáticas del Congreso. La presentación debe evidenciar la contribución de la obra al campo de la innovación educativa, así como una perspectiva crítica de la misma.
          </p>

          <p class="text-gray-700 mb-2 font-size-medium">
            <strong>Las propuestas de presentación de libros deberán incluir:</strong>
          </p>

          <!-- Footer -->
          <ul class="requirements-list font-size-small text-gray-700 mb-0 p-0 pl-4">
            <li>Título del libro en inglés y en español</li>
            <li>Nombre completo del autor (o autores), institución, país, correo electrónico</li>
            <li>Nombre completo del comentarista (o comentaristas de 2 a 4) institución, país, correo electrónico</li>
            <li>Línea temática (Tendencias educativas, Tecnologías para la educación, Gestión de la Innovación Educativa, Innovación Académica de la Salud o Formación a lo largo de la vida)</li>
            <li>Resumen (250 palabras máximo. Letra Arial 10. Espacio y medio) en español e inglés.</li>
            <li>Palabras clave: máximo cuatro en español e inglés.</li>
            <li>Contribuciones del libro (200 palabras máximo. Letra Arial 10. Espacio y medio)</li>
            <li>Temáticas abordadas (200 palabras máximo. Letra Arial 10. Espacio y medio)</li>
            <li>Datos completos del libro en formato APA.</li>
            <li>Incluir portada de libro</li>
          </ul>

          <p class="text-gray-700 mb-2 mb-md-3 font-size-medium">
            Los libros presentados deberán haber sido publicados a partir del 1 de enero de 2019.
          </p>

          <a class="navbar-btn btn btn-sm btn-danger mt-3" href="/users/sign_in">
            Envía tu contribución
          </a>

        </blockquote>

      </div>

      <div class="col-12 mt-9">

        <!-- Blockquote -->
        <blockquote class="blockquote mb-0">

          <!-- Logo -->
          <div class="mb-5 mb-md-6 text-danger">
            <h3 style="font-size: 24px">5.Mesa de networking</h3>
          </div>

          <!-- Text -->
          <p class="text-gray-700 mb-2 font-size-medium">
            Este formato ofrece alta interacción de los participantes organizados en grupos informales que comparten intereses similares acerca de un tópico relacionado con los temas del Congreso. Las Mesas de networking permiten la discusión de nuevas ideas, conceptos, estrategias, procedimientos y/o investigaciones, así como la construcción de nuevas alianzas con propósitos concretos.
          </p>

          <p class="text-gray-700 mb-2 font-size-medium">
            <strong>Las propuestas de Mesas de networking deben incluir:</strong>
          </p>

          <!-- Footer -->
          <ul class="requirements-list font-size-small text-gray-700 mb-0 p-0 pl-4">
            <li>Nombre de la Mesa de networking</li>
            <li>Nombre y datos de contacto del Coordinador de la Mesa de networking</li>
            <li>Línea temática (Tendencias educativas, Tecnologías para la educación, Gestión de la Innovación Educativa, Innovación Académica de la Salud, Formación a lo largo de la vida o Emprendimiento EdTech)</li>
            <li>Subtema: revisar y seleccionar los subtemas que se incluyen en cada línea temática en la <a href="https://ciie.itesm.mx/es/temas-convocatoria/">siguiente dirección</a></li>
            <li>Resumen de la Mesa de networking (máximo 250 palabras, Letra Arial 10. Espacio y medio) en español e inglés.</li>
            <li>Palabras clave: máximo cuatro en español e inglés.</li>
            <li>Objetivos. De dos a tres objetivos. 200 palabras máximo. Letra Arial 10. Espacio y medio.</li>
            <li>Formato de interacción a usar para lograr los objetivos de la Mesa de networking. 200 palabras máximo.</li>
            <li>Público a quien va dirigida la Mesa de networking.</li>
            <li>Contribuciones de la mesa (impacto o beneficio esperado). 250 palabras máximo. Letra Arial 10. Espacio y medio.</li>
          </ul>

          <a class="navbar-btn btn btn-sm btn-danger mt-3" href="/users/sign_in">
            Envía tu contribución
          </a>

        </blockquote>

      </div>

      <div class="col-12 mt-9">

        <!-- Blockquote -->
        <blockquote class="blockquote mb-0">

          <!-- Logo -->
          <div class="mb-5 mb-md-6 text-danger">
            <h3 style="font-size: 24px">6.Conferencia EdTech (aplica solamente para la línea temática de Emprendimiento EdTech)</h3>
          </div>

          <!-- Text -->
          <p class="text-gray-700 mb-2 font-size-medium">
            Presentación dinámica de conocimientos, ideas y experiencias en el tema de Emprendimiento EdTech.
          </p>

          <p class="text-gray-700 mb-2 font-size-medium">
            <strong>Las propuestas de Conferencia EdTech deben incluir:</strong>
          </p>

          <!-- Footer -->
          <ul class="requirements-list font-size-small text-gray-700 mb-0 p-0 pl-4">
            <li>Título de la conferencia en español e inglés</li>
            <li>Nombre del expositor </li>
            <li>Correo electrónico de contacto</li>
            <li>Sector al que pertenece la startup</li>
            <li>Público al que va dirigida la conferencia</li>
            <li>Descripción de la conferencia (máximo 200 palabras, letra Arial 10, espaciado 1.5) español e inglés</li>
            <li>Biografía corta del expositor (máximo 700 caracteres) español e inglés</li>
            <li>Organismo/empresa que representa</li>
            <li>Breve descripción del organismo que representa</li>
            <li>Dirección del organismo</li>
            <li>Director general</li>
            <li>Teléfono de la empresa</li>
            <li>Página web (en caso de contar con una)</li>
            <li>Redes sociales de la empresa (en caso de contar con alguna)</li>
          </ul>

          <a class="navbar-btn btn btn-sm btn-danger mt-3" href="/users/sign_in">
            Send your contribution
          </a>

        </blockquote>

      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- FOOTER
================================================== -->
<footer class="mt-6 py-4 py-md-6 bg-gray-200">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="text-gray-700 mb-2">9º Congreso Internacional de Innovación Educativa</p>
        <a class="d-block" href="http://www.ciie.mx">www.ciie.mx</a>
        <a href="http://www.ciie.mx" class="btn btn-danger-soft lift mt-3">Contacto</a>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>
