<style type="text/css">
  #list_thematic{
    margin-left: 35%;
  }
  @media screen and (max-width: 600px) {
    #list_thematic{
      margin-left: 7%;
    }
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand" href="./index.html">
      <img src="/images/logo_tec_blue.png" class="" alt="..." style="max-width: 8em;">
      <img src="/images/logo_ciie_negro_compacto.png" class="ml-md-3 ml-8" alt="..." style="max-width: 3em;">
    </a>

    <a href="/home/index" class="ml-auto mr-5 mt-3">Español</a>
    <a class="btn btn-sm btn-danger lift mx-auto mx-md-0 mt-md-3 mt-3" href="/users/sign_in">
      Sign In
    </a>

  </div>
</nav>

<section class="position-relative py-8 py-md-11 mb-9">

  <!-- Contetn -->
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-12 order-md-1" data-aos="fade-up">

        <!-- Heading -->
        <h1 class="display-3 text-center">
          Welcome to the 8th International Conference of Educational Innovation
        </h1>
        <br/>

        <!-- List Thematic -->
        <p class="text-center">Participate in the 2021 Call, select one of our thematic lines:</p>
        <div id="list_thematic" class="text-left">
          <ul class="requirements-list font-size-small text-gray-700 mb-0 p-0 pl-4" style="list-style-type: none;">
            <li>● Educational Trends</li>
            <li>● Technologies for Education</li>
            <li>● Management of Educational Innovation</li>
            <li>● Academic Health Innovation</li>
            <li>● Lifelong Training</li>
            <li>● EdTech Entrepreneurship</li>
          </ul>
        </div>
        <br/>

        <!-- Text -->
        <p class="lead text-muted mb-6 mb-md-8 text-center">
          In our 2021 Call, we accept the following types of contributions: Research Presentation, Innovation Presentation, Panels, Book Presentation, Networking Tables, and EdTech Conference.
        </p>

        <!-- Buttons -->
        <div class="text-center">
          <a href="/users/sign_in" class="btn btn-danger mr-1 lift mt-3">
            Register your contribution
          </a>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->

</section>

<!-- TESTIMONIALS
================================================== -->
<section>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12">

        <!-- Blockquote -->
        <blockquote class="blockquote mb-8 mb-md-0">

          <!-- Logo -->
          <div class="mb-5 mb-md-6 text-danger">
            <h3 style="font-size: 24px">1.Research papers</h3>
          </div>

          <!-- Text -->
          <p class="text-gray-700 mb-2 font-size-medium">
            Presentation of preliminary or final results of a study that followed a scientific method on an educational research project.
          </p>

          <p class="text-gray-700 mb-4 font-size-medium">
            <strong>Research papers must include:</strong>
          </p>

          <!-- Footer -->
          <ul class="requirements-list font-size-small text-gray-700 mb-0 p-0 pl-4">
            <li>Paper title in English and Spanish</li>
            <li>Author’s full name, institution, country, and email (include the previous information for each of the authors, up to a maximum of 5).</li>
            <li>Thematic line: Educational trends, Technologies for Education, Management of Educational Innovation, Academic Innovation of Health innovation, or Lifelong Learning.</li>
            <li>Abstract: 200 words maximum. Arial font, 10pts. Line spacing 1.5 in English and Spanish.</li>
            <li>Keywords: 4 words max in English and Spanish.</li>
            <li>Introduction: 200 words maximum. Arial font letter 10. Line spacing 1.5.</li>
            <li>Development: 2000 words maximum, including theoretical framework, problem approach, method, results, and discussion.</li>
            <li>Conclusions: 200 words maximum. Arial font, 10pts. Line spacing 1.5.</li>
            <li>APA style references: French sangria. Only the cited references, alphabetically.</li>
            <li>Acknowledgments: Optional section to thank contributors or sponsors. Arial font, 10pts. Line spacing 1.5.</li>
          </ul>

          <p class="text-gray-700 mt-4 mb-2 mb-md-3 font-size-medium">
            The results of the research submitted must have been obtained or carried out between January 2020 and June 2021.
          </p>

          <a class="navbar-btn btn btn-sm btn-danger mt-3" href="/users/sign_in">
            Send your contribution
          </a>

        </blockquote>

      </div>

      <div class="col-12 mt-9">

        <!-- Blockquote -->
        <blockquote class="blockquote mb-0">

          <!-- Logo -->
          <div class="mb-5 mb-md-6 text-danger">
            <h3 style="font-size: 24px">2.Innovation papers</h3>
          </div>

          <!-- Text -->
          <p class="text-gray-700 mb-2 font-size-medium">
            These are presentations of reports about educational innovation experiences in which the innovative situation, participants, and results are described.
            No research results are required in these papers.
          </p>

          <p class="text-gray-700 mb-2 font-size-medium">
            <strong>Innovation papers must include:</strong>
          </p>

          <!-- Footer -->
          <ul class="requirements-list font-size-small text-gray-700 mb-0 p-0 pl-4">
            <li>Innovation project paper title in English and Spanish</li>
            <li>Author’s full name, institution, country, and email (include the previous information for each of the authors, up to a maximum of 5).</li>
            <li>Thematic line: Educational trends, Technologies for Education, Management of Educational Innovation, Academic Innovation of Health innovation, or Lifelong Learning.</li>
            <li>Abstract: 200 words maximum. Arial font, 10pts. Line spacing 1.5 in English and Spanish.</li>
            <li>Keywords: 4 words max in English and Spanish.</li>
            <li>Introduction: 200 words maximum. Arial font letter 10. Line spacing 1.5.</li>
            <li>Development: 2000 words maximum, including theoretical framework, description of innovation, implementation process and evaluation of results.</li>
            <li>Conclusions: 200 words maximum. Arial font, 10pts. Line spacing 1.5.</li>
            <li>APA style references: French sangria. Only the cited references, alphabetically.</li>
            <li>Acknowledgments: Optional section to thank contributors or sponsors. Arial font, 10pts. Line spacing 1.5.</li>
          </ul>

          <p class="text-gray-700 mb-2 mb-md-3 font-size-medium">
            The results of the innovation submitted must have been obtained or carried out between January 2020 and June 2021.
          </p>

          <a class="navbar-btn btn btn-sm btn-danger mt-3" href="/users/sign_in">
            Send your contribution
          </a>

        </blockquote>

      </div>

      <div class="col-12 mt-9">

        <!-- Blockquote -->
        <blockquote class="blockquote mb-8 mb-md-0">

          <!-- Logo -->
          <div class="mb-5 mb-md-6 text-danger">
            <h3 style="font-size: 24px">3.Panel</h3>
          </div>

          <!-- Text -->
          <p class="text-gray-700 mb-2 font-size-medium">
            It analyzes an educational theme from the perspectives of different panelists that will contribute to the understanding of a phenomenon in educational innovation.
          </p>

          <p class="text-gray-700 mb-4 font-size-medium">
            <strong>Panel proposals must include:</strong>
          </p>

          <!-- Footer -->
          <ul class="requirements-list font-size-small text-gray-700 mb-0 p-0 pl-4">
            <li>Panel name in English and Spanish</li>
            <li>Coordinator name.</li>
            <li>Thematic line: Educational trends, Technologies for Education, Management of Educational Innovation, Academic Innovation of Health innovation, Lifelong Learning, or EdTech Entrepreneurship.</li>
            <li>Panelists: From 3 to 5 (including the coordinator without naming them again here).</li>
            <li>An original image, related to the panel’s subject, to be used in its promotion.</li>
            <li>Abstract: 250 words maximum. Arial font, 10pts. Line spacing 1.5 in English and Spanish.</li>
            <li>Keywords: 4 words max in English and Spanish.</li>
            <li>Objectives: From 2 to 3. 200 words maximum. Arial font, 10pts. Line spacing 1.5.</li>
            <li>Contributions and themes to be addressed. 250 words maximum. Arial font, 10pts. Line spacing 1.5.</li>

          </ul>

          <a class="navbar-btn btn btn-sm btn-danger mt-3" href="/users/sign_in">
            Send your contribution
          </a>

        </blockquote>

      </div>

      <div class="col-12 mt-9">

        <!-- Blockquote -->
        <blockquote class="blockquote mb-0">

          <!-- Logo -->
          <div class="mb-5 mb-md-6 text-danger">
            <h3 style="font-size: 24px">4.Book presentations</h3>
          </div>

          <!-- Text -->
          <p class="text-gray-700 mb-2 font-size-medium">
            Presentations of books associated with the themes from the Conference. The presentation must highlight the contribution of the work to the field of educational innovation, as well as a critical perspective of it.
          </p>

          <p class="text-gray-700 mb-2 font-size-medium">
            <strong>Proposals for the book presentations must include:</strong>
          </p>

          <!-- Footer -->
          <ul class="requirements-list font-size-small text-gray-700 mb-0 p-0 pl-4">
            <li>Book title in English and Spanish.</li>
            <li>Full name of the author (s), institution, country, email address.</li>
            <li>Full name of the commentator (or commentators, from 2 to 4) institution, country, email address.</li>
            <li>Thematic line: Educational trends, Technologies for Education, Management of Educational Innovation, Academic Innovation of Health innovation, or Lifelong Learning.</li>
            <li>Abstract: 250 words maximum. Arial font, 10pts. Line spacing 1.5 in English and Spanish.</li>
            <li>Keywords: 4 words max in English and Spanish.</li>
            <li>Book contributions: 200 words maximum. Arial font, 10pts. Line spacing 1.5.</li>
            <li>Subjects addressed: 200 words maximum. Arial font, 10pts. Line spacing 1.5.</li>
            <li>Full details of the book in APA format.</li>
            <li>Include book cover.</li>
          </ul>

          <p class="text-gray-700 mb-2 mb-md-3 font-size-medium">
            The books submitted must have been published as of January 1, 2019.
          </p>

          <a class="navbar-btn btn btn-sm btn-danger mt-3" href="/users/sign_in">
            Send your contribution
          </a>

        </blockquote>

      </div>

      <div class="col-12 mt-9">

        <!-- Blockquote -->
        <blockquote class="blockquote mb-0">

          <!-- Logo -->
          <div class="mb-5 mb-md-6 text-danger">
            <h3 style="font-size: 24px">5.Networking tables</h3>
          </div>

          <!-- Text -->
          <p class="text-gray-700 mb-2 font-size-medium">
            This format allows high interaction between the participants organized into informal groups that share similar interests about a subject related to the themes of the Conference.
            Networking tables allow the discussion of new ideas, concepts, strategies, procedures, and/or research, as well as the creation of new alliances with particular purposes.
          </p>

          <p class="text-gray-700 mb-2 font-size-medium">
            <strong>Proposals for network tables must include:</strong>
          </p>

          <!-- Footer -->
          <ul class="requirements-list font-size-small text-gray-700 mb-0 p-0 pl-4">
            <li>Name of the networking table.</li>
            <li>Name and contact details of the networking table coordinator.</li>
            <li>Thematic line: Educational trends, Technologies for Education, Management of Educational Innovation, Academic Innovation of Health innovation, Lifelong Learning, or EdTech Entrepreneurship.</li>
            <li>Sub-theme: review and select the sub-themes that are included in each thematic line at the following address https://ciie.itesm.mx/en/temas-convocatoria/</li>
            <li>Summary of the networking table (250 words maximum, Arial font, 10pts. Line spacing 1.5).</li>
            <li>Abstract: 250 words maximum. Arial font, 10pts. Line spacing 1.5 in English and Spanish.</li>
            <li>Keywords: 4 words max in English and Spanish.</li>
            <li>Objectives: From 2 to 3. 200 words maximum. Arial font, 10pts. Line spacing 1.5.</li>
            <li>Interaction format to be used to achieve the objectives of the networking table: 200 words maximum.</li>
            <li>The target audience for the networking table.</li>
            <li>Table contributions (expected impact or benefit): 250 words maximum. Arial font, 10pts. Line spacing 1.5.</li>
          </ul>

          <a class="navbar-btn btn btn-sm btn-danger mt-3" href="/users/sign_in">
            Send your contribution
          </a>

        </blockquote>

      </div>

      <div class="col-12 mt-9">

        <!-- Blockquote -->
        <blockquote class="blockquote mb-0">

          <!-- Logo -->
          <div class="mb-5 mb-md-6 text-danger">
            <h3 style="font-size: 24px">6.EdTech Conference (applies only to the thematic line of Entrepreneurship EdTech)</h3>
          </div>

          <!-- Text -->
          <p class="text-gray-700 mb-2 font-size-medium">
            Dynamic presentation of knowledge, ideas, and experiences on the topic of EdTech Entrepreneurship.
          </p>

          <p class="text-gray-700 mb-2 font-size-medium">
            <strong>EdTech Conference proposals must include:</strong>
          </p>

          <!-- Footer -->
          <ul class="requirements-list font-size-small text-gray-700 mb-0 p-0 pl-4">
            <li>Conference title in Spanish and English</li>
            <li>Exhibitor's name</li>
            <li>Contact E-Mail</li>
            <li>The sector to which the startup belongs</li>
            <li>Audience to whom the conference addressed</li>
            <li>Conference description (maximum 200 words, Arial 10 font, 1.5 spacing) Spanish and English</li>
            <li>Short bio of the exhibitor (maximum 700 characters) Spanish and English</li>
            <li>Organization/company that represents</li>
            <li>Brief description of the organism it represents</li>
            <li>Agency address</li>
            <li>Managing Director</li>
            <li>Company phone</li>
            <li>Website (if you have one)</li>
            <li>Social networks of the company (in case of having any)</li>
          </ul>

          <a class="navbar-btn btn btn-sm btn-danger mt-3" href="/users/sign_in">
            Send your contribution
          </a>

        </blockquote>

      </div>

    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- FOOTER
================================================== -->
<footer class="mt-6 py-4 py-md-6 bg-gray-200">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="text-gray-700 mb-2">8th International Conference of Educational Innovation</p>
        <a class="d-block" href="http://www.ciie.mx">www.ciie.mx</a>
        <a href="http://www.ciie.mx" class="btn btn-danger-soft lift mt-3">Contact</a>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>